<script type="text/javascript">
    window.currentUser = <%= logged_in? ? render("api/users/user.json.jbuilder", user: current_user).html_safe : nil %>
    window.logo = "<%= image_url('logo.png') %>"
    window.hawaii = "<%= image_url('hawaii-1') %>"
    window.beach = "<%= image_url('beach') %>"
    window.background = "<%= image_url('background') %>"
    window.darklogo = "<%= image_url('logo-dark') %>"
</script>
<div id="root">React is not working</div>
